#list {
    text-align: center;
    color: #6752b4;
    
    font-size: 16px;
    line-height: 22px;
  }
  
#list p {
    text-align: centre;
    color: #6752b4;

    font-size: 16px;
    line-height: 22px;
  }

  #container {
    background-color: #9884D8;
    text-align: center;
    color: #6752b4;

    font-size: 19px;
    line-height: 22px;
  }

  #header1
  {
    color: #7a64c0;
  }

  #title
  {
    font-weight: 600;
    color: #54419c;
  }

  