#container 
{
    background-color: #9884D8;
    text-align: center;
    color: #6752b4;

  
    font-size: 16px;
    line-height: 22px;
}

ion-button
{
    font-size: 18px;
    line-height: 22px;
  
    --background:#c1b2e4;
    --color: #5d419c;
}

#header
{
    color: #7a64c0;
}

#title
{
  font-weight: 600;
  color: #54419c;
}

/*Has the image quickly fade into sight*/
.imageFade
{
  animation: fadeInAnimation 1s ease-out; 
}

@keyframes fadeInAnimation {
    from {
      /*Starts transparent*/
      opacity: 0;
    }
    to {
      /*Ends with it being fully visable*/
      opacity: 1;
    }
  }