<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header">
      Canine Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="contents">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Canine Information</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <!--Describing the content of the app-->
    <br>
    <br>
    <br>
    <h1 id="title">Canine Information</h1>

    <img src="https://hips.hearstapps.com/hmg-prod/images/group-portrait-of-adorable-puppies-royalty-free-image-1687451786.jpg" class="imageFade1" height="200" width="400">

    <p>This is an app I have developed for those who are curious and eager to learn more about their canine companions, and dogs in general. 
      <br>
      <br>
      The aim of this app is to help further educate those who are less knowledgeable in canine history and domesticated dog breeds. 
      <br>
      <br>
      Below, I have an index of different pages that you can navigate through to better inform yourself with ease and in digestable pieces. 
      <br>
      <br>
      Hope you enjoy!
      <br>
      <br>
      <br>
    </p>

    <ion-button (click)="ButtonClick2()">Dog History</ion-button>
    <ion-button (click)="ButtonClick3()">Dog Facts</ion-button>
    <ion-button (click)="ButtonClick()">Dog Breeds</ion-button>
    <ion-button (click)="ButtonClick4()">Click for a surprise!</ion-button>
    
    <br>
    <br>

    <img src="https://cdn.mos.cms.futurecdn.net/ASHH5bDmsp6wnK6mEfZdcU.jpg" class="imageFade2" width="300">
  </div>
</ion-content>
